* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#calculator {
  height: 533px;
  width: 426px;
  border: 10px solid rgba(47, 47, 47, 1);
  align-self: center;
  background-color: black;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.display {
  background-color: #b2b9b7;
  width: 396px;
  height: 93px;
  border: 1px solid black;
  margin: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 5px;
  font-size: 60px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

button {
  width: 98px;
  height: 78px;
  border: 1px solid black;
  flex-grow: 1;
  font-size: 25px;
  border-radius: 8%;
}

button:active {
  opacity: 0.7;
}

.number,
.decimal {
  background-color: #217c7e;
}

.operator,
.equals {
  background-color: #ff8f1f;
}

.percent,
.sign,
.clear {
  background-color: dodgerblue;
}
